/* Default theme (dark) */
:root {
  --background-color: #1E1E1E;
/*  --background-color: #121212;*/
  --text-color: #f5f5f5;
  --link-color: #ffbd59;
/*   --link-color: #d9b32b; */
  --light-color: #383838;
  --border-color: #808080;
  --code-background: #2d2d2d;
  --blockquote-background: #1f1f1f;
  --limk-hover-color: #d94e2b;
  --light-hover-color: #a6a6a6;

  /* image path variable */
  --profile-img: url("profile-d.png");
}

[data-theme="light"] {
  --background-color: #E8EAED;
  --text-color: #000000;
  --link-color: #7F4304;
  --light-color: #F0F0F0;
  --border-color: #eaecef;
  --code-background: #f6f8fa;
  --blockquote-background: #f0f0f0;
  --limk-hover-color: #7f3b04;
  --light-hover-color: #a6a6a6;

  /* swap image path */
  --profile-img: url("profile-l.png");
}

/* Apply the variable to the image */
.profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  content: var(--profile-img);
}



/* Default dark theme */
[data-theme="light"] .profile-img {
  content: url("profile-l.png");
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* light theme */
[data-theme="dark"] .profile-img {
  content: url("profile-dark.png");
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}


/* Make specific adjustments for body and other elements in light mode */
[data-theme="light"] body {
	background-color: var(--background-color);
	color: var(--text-color);
}

[data-theme="light"] a {
	color: var(--link-color);
}

[data-theme="light"] pre,
[data-theme="light"] code {
	background-color: var(--code-background);
}

/* Add specific styles for headers in light mode */
[data-theme="light"] h1,
[data-theme="light"] h2,
[data-theme="light"] h3,
[data-theme="light"] h4 {
	color: var(--text-color);
	border-bottom: 1px solid var(--border-color);
}

/* Dark mode blockquote */
[data-theme="light"] blockquote {
	background-color: var(--blockquote-background);
	color: var(--text-color);
}

/* Dark mode table styles */
[data-theme="light"] table th,
[data-theme="light"] table td {
	border-color: var(--border-color);
}


body {
	font-family: 'Roboto Slab', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0;
	padding: 20px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
	border-bottom: 1px solid var(--border-color);
	padding-bottom: 0.3em;
	margin-bottom: 0.5em;
	font-weight: 600;
	color: var(--text-color);
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.thin-line {
	border: none;
	border-top: 0.1px solid #808080;
	margin-top: 5px;
	opacity: 0.5;
}

code {
	background-color: var(--code-background);
	border-radius: 5px;
	padding: 0.2em 0.4em;
	font-size: 90%;
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

pre {
	background-color: var(--code-background);
	padding: 20px;
	border-radius: 8px;
	overflow: auto;
	line-height: 1.5;
	font-size: 90%;
	border: 1px solid var(--border-color);
}

ul,
ol {
	padding-left: 1.5em;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

blockquote {
	padding: 1em;
	color: var(--text-color);
	background-color: var(--blockquote-background);
	border-left: 5px solid var(--border-color);
	margin: 1em 0;
	border-radius: 5px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

th,
td {
	border: 1px solid var(--border-color);
	padding: 10px;
}

th {
	background-color: var(--code-background);
	color: var(--text-color);
	font-weight: 600;
}

/* Responsive text adjustments */
@media (max-width: 768px) {
	body {
		padding: 10px;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.3em;
	}

	pre,
	code {
		font-size: 85%;
	}
}

/* Styles for expandable content */
.hidden-content {
	display: none;
	margin-top: 10px;
	padding: 0px;
	background-color: transparent;
	border: 0px solid var(--border-color);
	border-radius: 0px;
}

.toggle-button {
	cursor: pointer;
	color: var(--text-color);
	background-color: var(--link-color);
	border: none;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button:hover {
	background-color: var(--limk-hover-color);
}

.toggle-button1 {
	cursor: pointer;
	color: var(--text-color);
	background-color: var(--light-color);
	border: none;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button1:hover {
	background-color: var(--light-hover-color);
}

.toggle-button2 {
	cursor: pointer;
	color: var(--text-color);
	background-color: var(--light-color);
	border: none;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button2:hover {
	background-color: var(--light-hover-color);
}

.toggle-button3 {
	cursor: pointer;
	color: var(--text-color);
	background-color: var(--light-color);
	border: none;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button3:hover {
	background-color: var(--light-hover-color);
}


.toggle-button-theme {
	cursor: pointer;
	color: var(--text-color);
	background-color: var(--light-color);
	border: none;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button-theme:hover {
	background-color: var(--light-hover-color);
}


/* Style for the button */
#goToTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	/* Hidden by default */
	background-color: #d9b32b;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#goToTop:hover {
	background-color: #808080;

}

